<div style="position: absolute; top: 10px; right: 10px; min-width: 200px; z-index: 2">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="{'show':errorMessage,
  'hide':!errorMessage}">
    <div class="toast-header">
      <strong class="mr-auto text-danger">Error Occurred</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" (click)="errorMessage=''">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
     {{errorMessage}}
    </div>
  </div>
</div>

<form (ngSubmit)="savePost()" #postForm="ngForm">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" ngModel>
    </div>
  </div>
  <div class="form-group row">
    <label for="content" class="col-sm-2 col-form-label">Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="content" rows="3" name="content" placeholder="Content" ngModel></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Save Post</button>
</form>
<hr>
<button type="button" class="btn btn-primary mr-2" [disabled]="isFetching" (click)="getAllPosts()">Get all posts
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isFetching"></span>
</button>
<button type="button" class="btn btn-danger mr-2" (click)="clearAllPosts()">Delete All posts</button>
<br/><br/>
<ul class="list-group">
  <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let post of posts">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{post.title}}</h5>
    </div>
    <p class="mb-1">{{post.content}}</p>
  </li>
</ul>
