<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">NgRx Demo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/state-management']" class="nav-link">State Management</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/effects']" class="nav-link">Effects</a>
      </li>
    </ul>
  </div>
</nav>
