<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Recipe Book</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['shopping-list']" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav" rbOpenDropDownMenu #isMenuShow="rbOpenDropDownMenu">
      <li class="nav-item dropdown" [ngClass]="{'show': isMenuShow.isShow}">
        <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
        <ul class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': isMenuShow.isShow}">
          <li><a class="dropdown-item">Save Data</a></li>
          <li><a class="dropdown-item">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

