<label>Server Name</label>
<input (input)="updateServerName($event)" class="form-control" type="text">
{{serverName}}
<br/>
<label>Binding Server Name</label>
<input [(ngModel)]="bindingServerName" class="form-control" type="text">
{{bindingServerName}}
<br/>
<button (click)="createNewServer()"
        [disabled]="!allowNewServer"
        class="btn btn-primary">Add New Server
</button>
<p *ngIf="serverCreated">{{anyServerCreated}}</p>
<ul>
  <li *ngFor="let server of servers; let i = index">
    <lrn-server></lrn-server>
    <p>{{i}}</p>
  </li>
</ul>
