<h5>Template-driven Form</h5>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div id="user-data" ngModelGroup="userData" #userData='ngModelGroup'>
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" placeholder="UserName" name="userName"
             ngModel required
             [ngClass]="{'is-invalid':(userName.invalid && userName.touched),
                    'is-valid': (userName.valid && userName.touched)}" #userName="ngModel">
      <div class="invalid-feedback">Please Enter valid username</div>
    </div>
    <button type="button" class="btn btn-primary mr-2" (click)="populateDefaultValues()">Populate Default Values</button>
    <button type="button" class="btn btn-success" (click)="suggestUserName()">Suggest UserName</button>
    <div class="form-group">
      <label for="mail">Email</label>
      <input type="email" class="form-control" id="mail" placeholder="Email" name="email"
             ngModel required email #email="ngModel"
             [ngClass]="{'is-invalid':(email.invalid && email.touched),
                    'is-valid': (email.valid && email.touched)}">
      <div class="invalid-feedback">Please Enter a valid E-mail</div>
    </div>
    <div class="custom-radio" *ngFor="let gender of genders">
      <label><input type="radio" name="gender" ngModel [value]="gender">{{gender}}</label>
    </div>
  </div>
  <div *ngIf="userData.invalid && userData.touched" class="text-danger">Please provide valid user data</div>
  <div id="secret-question" ngModelGroup="secretData">
    <div class="form-group">
      <label for="secretQuestion">Secret Question</label>
      <select class="form-control" id="secretQuestion" name="secretQuestion" [ngModel]="defaultQuestion">
        <option value="pet">Your First Name?</option>
        <option value="school">Your last School Name?</option>
        <option value="maidenName">Your mother maiden Name?</option>
      </select>
    </div>
    <div class="form-group">
      <label for="secretAnswer">Answer</label>
      <input type="text" class="form-control" id="secretAnswer" placeholder="Secret Question Answer" name="secretAnswer"
             [(ngModel)]="secretAnswer" required secretAnswer>
      <div class="text-muted">Your secret answer is : {{secretAnswer}}</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
