<div class="container">
  <ch-server-form (serverAdded)="onServerAdd($event)"
  (blueprintAdded)="onBlueprintAdd($event)"></ch-server-form>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ch-server-view *ngFor="let serverElement of serverElements" [element]="serverElement">
        <p class="card-text" #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </ch-server-view>
    </div>
  </div>
</div>

