<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers" [routerLink]="['/servers',server.id]"
        [queryParams]="{'allowEdit' : (server.id%2) ? 0 : 1}"
        [fragment]="'loading'">
        {{ server.name }}
      </a>
    </div>
    <br/>
    <a class="btn btn-primary text-white" (click)="loadSyncServer(1)">Load Sync server</a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!--  <app-edit-server></app-edit-server>
      <hr>
      <app-server></app-server>-->
  </div>
</div>

